
header a{
  color: inherit;
  text-decoration: none;
}

header span{
  position: relative;
  top: 6px;
}

body.auth-pages {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

  & .fa-solid {
    color: white;
  }

  & main {
    max-width: 500px;
  }

  & footer {
    background-color: transparent;
  }
}
